.main {
  background: #730101f3;
  height: 80%;
  padding: 20px 0;
  margin-left: -600px;
  background: url("../../../../assets/login.jpg") no-repeat center center fixed;
  height: 40vw!important; 
  background-repeat:inherit;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.my-5 {
  color: #fff;
}
@media only screen and (max-width: 895px) {
  .card {
    width: 80%; /* Ancho ajustado */
    margin-left: 10%; /* Margen izquierdo ajustado */
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 70%; /* Ancho ajustado */
    margin-left: 15%; /* Margen izquierdo ajustado */
  }
}

@media only screen and (max-width: 1259px) {
  .card {
    max-width: calc(150% - 10vw);/* Ancho ajustado */
    margin-left: 35%; /* Margen izquierdo ajustado */
  }
}

@media only screen and (max-width: 860px) {
  .card {
    width: 30%; /* Porcentaje del ancho de la pantalla */
    margin-left: 45%;
    max-width: 100%; /* Máximo 80% del ancho de la pantalla */
  }
}
@media only screen and (max-width: 669px) {
  .card {
    width: 30%; /* Porcentaje del ancho de la pantalla */
    margin-left: 55%;
    max-width: 80%; /* Máximo 80% del ancho de la pantalla */
  }
}
@media only screen and (max-width: 569px) {
  .card {
    width: 30%; /* Porcentaje del ancho de la pantalla */
    margin-left: 75%;
    max-width: 50%; /* Máximo 80% del ancho de la pantalla */
  }
}
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff7c;
  margin-bottom: 20px;
  width: 200%;
}

.card-header {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 20px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn:hover {
  background-color: #555;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre los elementos */
}

.form-container label,
.form-container input {
  width: 100%; /* Ajusta según sea necesario */
}
