.main {
  background: #730101f3;
  height: 80%;
  padding: 20px 0;
margin-left: -600px;
  background: url("../../../../assets/login.jpg") no-repeat center center fixed;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.my-5{
  color: #fff;
  
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff7c;
  margin-bottom: 20px;
  width: 200%;
 
}

.card-header {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 20px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn:hover {
  background-color: #555;
}
