.main {
  background: #730101f3;
  height: 80%;
  padding: 20px 0;
  margin-left: -600px;
  background: url("../../../../assets/login.jpg") no-repeat center center fixed;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
@media only screen and (max-width: 895px) {
  .card {
    width: 80%; /* Ancho ajustado */
    margin-left: 10%; /* Margen izquierdo ajustado */
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 70%; /* Ancho ajustado */
    margin-left: 15%; /* Margen izquierdo ajustado */
  }
}

@media only screen and (max-width: 1149px) {
  .card {
    max-width: calc(150% - 10vw);/* Ancho ajustado */
    margin-left: 35%; /* Margen izquierdo ajustado */
  }
}

@media only screen and (max-width: 1105px) {
  .card {
    width: 30%; /* Porcentaje del ancho de la pantalla */
    margin-left: 85%;
    max-width: 70%; /* Máximo 80% del ancho de la pantalla */
  }
}
@media only screen and (max-width: 1019px) {
  .card {
    width: 30%; /* Porcentaje del ancho de la pantalla */
    margin-left: 60%!important;
    max-width: 40%; }
}
@media only screen and (max-width: 569px) {
  .card {
    width: 30%; /* Porcentaje del ancho de la pantalla */
    margin-left:57%!important;
    max-width: 40%; }
}
@media only screen and (max-width: 420px) {
  .card {
    width: 30%; /* Porcentaje del ancho de la pantalla */
    margin-left: 65%!important;
    max-width: 30%; }
}
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff7c;
  margin-bottom: 20px;
  width: 1000px; 
  color: #000;
  margin-left: 380px;
}

.card-header {
  background-color: #333;
  color: #ffffffe0;
  font-weight: bold;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 20px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-danger {
  background-color: #dc3545;
  color: #fffffff1;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn:hover {
  background-color: #555;
}
