<div class="container-registro">
  <div class="formulario">
    <form [formGroup]="registroForm" (ngSubmit)="registrarCliente()" class="custom-form">
      <div class="tittle border-bottom border-dark">
        <h2>Registro de Cliente</h2>
      </div>
      <div class="form-group">
        <label for="nombre"></label>
        <input id="nombre" type="text" formControlName="nombre" placeholder="NOMBRE" class="form-control" />
      </div>
      <div class="form-group">
        <label for="apellido"></label>
        <input id="apellido" type="text" formControlName="apellido" placeholder="APELLIDO" class="form-control" />
      </div>
      <div class="form-group">
        <label for="dni"></label>
        <input id="dni" type="text" formControlName="dni" placeholder="INGRESAR DNI" class="form-control" />
      </div>
      <div class="form-group">
        <label for="fecha_nacimiento">FECHA DE NACIMIENTO:</label>
        <input id="fecha_nacimiento" type="date" formControlName="fecha_nacimiento" placeholder="Ingresar la fecha de nacimiento" class="form-control" />
      </div>
      <div class="form-group">
        <label for="email"></label>
        <input id="email" type="email" formControlName="email" placeholder="INGRESAR EMAIL CON FORMATO xxxx@xxx.xxx" class="form-control" />
      </div>
      <div class="form-group">
        <label for="contraseña"></label>
        <input id="contraseña" type="password" formControlName="password" placeholder="INGRESAR CONTRASEÑA" class="form-control" />
      </div>

      <!-- Alerta de registro exitoso -->
      <div class="alert alert-success" *ngIf="registroExitoso">
        <strong>¡Éxito!</strong> Usuario registrado exitosamente.
      </div>

      <!-- Alerta de error en el registro -->
      <div class="alert alert-danger" *ngIf="registroError">
        <strong>Error:</strong> Error en el registro.
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-outline-dark" [disabled]="registroForm.invalid">Registrar</button>
      </div>
    </form>
  </div>
</div>
