$primary-color: #fff;
$secondary-color: #dc3545;
$light-color-font: #ffeeee;
$dark-color-font: #282828;
$primary-color-darker: #202020;
$text-shadow-props-dark: 0px 0px 11px rgba(0,0,0,1);
$text-shadow-props-light:0px 0px 11px rgb(255, 255, 255);