<div class="limiter">
  <div class="container">
    <div class="wrap">
      <form [formGroup]="claseForm" (ngSubmit)="crearClase()" class="form">
        <div class="form-group text-center pt-0">
          <h3 class="form-title">Crear Clase</h3>
        </div>
        <div class="wrap-input100">
          <label for="nombre" class="form-label"> </label>
          <input type="text" formControlName="nombre" class="input100" id="nombre" placeholder="Nombre" required />
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100">
          <label for="descripcion" class="form-label"> </label>
          <input type="text" formControlName="descripcion" class="input100" id="descripcion" placeholder="Descripción" required />
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100">
          <label for="fecha" class="form-label">Fecha</label>
          <input id="fecha" type="date" formControlName="fecha" required class="input100">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100">
          <label for="hora" class="form-label">Horario</label>
          <input id="hora" type="time" formControlName="hora" required class="input100">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100">
          <label for="limite_cupos" class="form-label">Límite de cupos</label>
          <input id="limite_cupos" type="number" formControlName="limite_cupos" required class="input100">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100">
          <label for="cantidad_inscriptos" class="form-label" >Cantidad de inscriptos</label>
          <input id="cantidad_inscriptos" type="number" formControlName="cantidad_inscriptos" required class="input100">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100">
          <label for="estado_clase" class="form-label">Estado de clase</label>
          <input type="text" class="input100" formControlName="estado_clase" id="estado_clase" required placeholder="Estado">
          <span class="focus-input100"></span>
        </div>
        <div class="container-form-btn">
          <button type="submit" class="form-btn">Crear Clase</button>
        </div>
      </form>
    </div>
  </div>
</div>
