<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <!-- Form Login -->
      <form [formGroup]="loginAdmin" (ngSubmit)="logindata()" class="login100-form">
        <div class="form-group text-center pt-0">
          <h3 class="login100-form-title">Login ADMIN</h3>
        </div>
        <div class="col-12 position-relative mb-4 wrap-input100">
          <div class="col-auto">
            <label for="username" class="form-label "></label>
          </div>
          <input type="text" formControlName="fname" class="input100" id="username" placeholder="Enter Email" required />
          <span class="focus-input100"></span>
        </div>
        <div class="mb-4 wrap-input100">
          <div class="col-auto">
            <label for="password" class="form-label "></label>
          </div>
          <input type="password" formControlName="password" class="input100" id="password" placeholder="Enter Password" required />
          <span class="focus-input100"></span>
        </div>
        <div class="d-grid container-login100-form-btn">
          <button type="submit" class="login100-form-btn">Iniciar Sesión</button>
        </div>
      </form>
    </div>
  </div>
</div>
