@import '../../styles/variables';



#nosotros {
  background: $color-fondo;
}




$color-fondo: #fcf6f6; 
$color-texto: #000000; 
$color-botones: #dc3545; 
$color-texto-boton: #fcf6f6;

$tamaño-botón: 24px; 
$radio-bordes-botón: 8px; 

$tamano-imagen: 600px; 
.img-fluid {
    max-width: $tamano-imagen;
    max-height: $tamano-imagen;
  }


  $tamano-imagen: 350px; 

  .position-relative.mb-5 {
    img {
      width: $tamano-imagen; 
      height: 200px;
    }
  }

// Definir variables de estilo
$texto-color: #111010; 

$texto-linea-altura: 2; 

// Aplicar estilos a los elementos HTML
.texto-principal {
  color: $texto-color;
  font-size: 18px;
  line-height: $texto-linea-altura;
}