.main {
  background: #730101f3;
  background: url("../../../assets/login.jpg") no-repeat center center fixed;
  height: auto;
  padding: 50px 0;
}

.dashboard-container {
  margin: 20px auto;
  max-width: 1200px;
  height:600px;
  padding: 20px;
  background-color: #df7c7c4b;
  border-radius: 10px;
  font-family: monospace;
  font-size: larger;
  color: #fff;
}

.tab-container {
  display: flex;
  flex-direction: column;
}

.tab {
  display: none;
  padding-bottom: 20px;
}

.tab.active {
  display: block;
}

h2 {
  text-align: left;
  margin-bottom: 20px;
}

h3 {
 margin-left: 45%; align-items: center;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}




table th,
table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.btn {
  display: block;
  width: fit-content;
  padding: 8px 16px;
  margin: 10px auto;
  background-color: #5f5d5d;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #c9302c;
}

p {
  text-align: center;
}
