<section class="intro">
  <div class="bg-image-vertical h-100" style="background-color: #1f1c1c;
    background-image: linear-gradient(180deg, #1f1c1c 0%, #000000 50%, #312c2c 100%);
    ">

    <div class="mask d-flex align-items-center h-100">
    
      <div class="container contactos">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-6">
            <div class="info-contacto">
              <div class="item-contacto">
                <i class="fas fa-envelope"></i>
                <h2>E-mail</h2>
                <h3>gymapp@gymapp.com</h3>
              </div>
              <div class="item-contacto">
                <i class="fas fa-phone"></i>
                <h2>Teléfono</h2>
                <h3>(+54) 0351 88997766</h3>
              </div>
              <div class="item-contacto">
                <i class="fas fa-map-marker-alt"></i>
                <h2>Ubicación</h2>
                <h3>Av. Velez Sarsfield 323</h3>
              </div>
              
            </div>
          </div>
          <div class="col-12 col-lg-6 ">
            <div class="container contact-form">
              <form autocomplete="off" [formGroup]="consultaForm" (ngSubmit)="onConsulta($event)">
                <h3>Envíanos un mensaje</h3>
                <div class="row">
                  <div class="col-12 col-md-12 col-lg-12">
                    <div class="form-group">
                      <input type="text" name="nombre" class="form-control" id="contactoNombre" aria-describedby=" emailHelp"
                        placeholder="Ingrese su nombre" required #nombre formControlName="nombre">
                      <div class="text-danger"
                        *ngIf="consultaForm.get('nombre')!.invalid && (consultaForm.get('nombre')!.touched || consultaForm.get('nombre')!.dirty)">
                        El nombre es requerido.
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" id="contactoEmail" aria-describedby="emailHelp"
                        placeholder="Ingrese su email" required #email formControlName="email">
                      <div class="text-danger"
                        *ngIf="consultaForm.get('email')!.invalid && (consultaForm.get('email')!.touched || consultaForm.get('email')!.dirty)">
                        El email es requerido y debe ser válido.
                      </div>
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" placeholder="Deje su mensaje aquí" required #mensaje formControlName="mensaje"
                        id="floatingTextarea2" style="height: 100px; font-size: var(--tamanio-fuente);"></textarea>
                      <div class="text-danger"
                        *ngIf="consultaForm.get('mensaje')!.invalid && (consultaForm.get('mensaje')!.touched || consultaForm.get('mensaje')!.dirty)">
                        El mensaje es requerido.
                      </div>
                    </div>
                    
                  </div>
                  <button class="btnContact" type="submit" [disabled]="consultaForm.invalid"
                    id="botonEnviar">Enviar mensaje</button>
                    
                </div>
              </form>
              <div *ngIf="consultaEnviada" class="mensaje-enviado">
                <p>¡Gracias por tu mensaje! Nos pondremos en contacto contigo pronto.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
