<div class="limiter">
  <div class="container">
    <div class="wrap">
      <form [formGroup]="planForm" (ngSubmit)="crearPlan()" class="form">
        <div class="form-group text-center pt-0">
          <h3 class="form-title">Crear Plan</h3>
        </div>
        <div class="">
          <label for="nombre" class="form-label"></label>
          <input type="text" formControlName="nombre" class="input100" id="nombre" placeholder="Nombre" required />
          <span class="focus-input100"></span>
        </div>
        <div class="">
          <label for="descripcion" class="form-label"></label>
          <input type="text" formControlName="descripcion" class="input100" id="descripcion" placeholder="Descripción" />
          <span class="focus-input100"></span>
        </div>
        <div class="">
          <label for="cantidad_clases" class="form-label"></label>
          <input type="number" formControlName="cantidad_clases" class="input100" id="cantidad_clases" placeholder="Cantidad de clases" required />
          <span class="focus-input100"></span>
        </div>
        <div class="">
          <label for="precio" class="form-label"></label>
          <input type="number" formControlName="precio" class="input100" id="precio" placeholder="Precio" required />
          <span class="focus-input100"></span>
        </div>
        <div class="container-form-btn">
          <button type="submit" class="form-btn">Crear Plan</button>
        </div>
      </form>
    </div>
  </div>
</div>
